  .content-lists .header{
    margin:0.5rem 0;
    display: flex;
    justify-content: space-between;
}
input[type="search"]{
    background-image: url('../images/searchicon.png');
    background-repeat: no-repeat;
    background-position: 12.5rem 10.5px;
    width: 230px;
    padding:7px 7px;
    font-size: 16px;
    outline: none;
    border-radius: 4px;
    border:1px solid #ced4da;
}

button[type="button"]{
    width: 50px;
    background:#748ffc;
    color:#ffffff;
    outline:none;
    border: 0 solid #ffffff;
    border-radius: 4px;
    font-size: 16px;
    margin:0;
    padding:13px 10px;  
    cursor: pointer;
}
.content-lists .lists{
    margin:0.5rem 0;
}
table {
    border-collapse: collapse;
    width: 100%;
  }
  tr>th{
    background: #ced4da;
    color:#495057;
  }
  tr:hover {
    background-color: #f1f1f1;
  }
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  .btnGroup{
    float:right;
  }
  button.btnEdit{
    outline:none;
    border:none;
    padding:5px 10px;
    cursor: pointer;
    background-color: transparent;
    color:#3200fbdd;
  }
  button.btnDelete{
    outline:none;
    border:none;
    padding:5px 10px;
    cursor: pointer;
    background-color: transparent;
    color:#fb0000;
  }

