@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,500;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kantumruy',sans-serif;
}

.nav-theme {
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background: rgba(84, 18, 18, 0.523);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 1rem 15px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    transition: all .5s ease;
    font-family: 'Roboto', sans-serif;

}

.changeThemeNav {
    background: rgb(84, 18, 18);
}

.container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-title {
    margin-left: 5px;
    text-decoration: none;
    color: #ffec99;
}

.nav-item a {
    text-decoration: none;
    padding: 0 5px;
    color: #ffec99;
    font-family: 'Roboto', sans-serif;
}

.nav-item a:hover {
    color: #ffe066;
}

#icon {
    display: none;
    transition: all .5s ease;

}

#icon a i {
    color: #ffec99;
    font-size: 1.5rem;
    transition: all .5s ease;
}

#icon a i:hover {
    color: #ffe066;
}

.dropdown-btn {
    padding: 0 16px;
    text-decoration: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    background-color: rgba(84, 18, 18, .4);
    position: absolute;
    top: 63px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    transition: all .5s ease;
}

i.arrow-up {
    position: absolute;
    top: -21px;
    left: -3px;
    display: block;
    color: rgba(84, 18, 18, .4);
    font-size: 1.6rem;
    transition: all .5s ease;
}

.arrow-left {
    display: none;
}

.dropdown-content a {
    display: block;
    text-decoration: none;
    padding: 5px 55px 5px 10px;
    transition: all .5s ease;
    font-family: 'Roboto', sans-serif;
    color: #ffe066;
}

.dropdown-content a:hover {
    background-color: rgba(86, 16, 16, 0.795);
}

.show {
    display: block;
    transition: all .5s ease;
}



/* slide  */
#slider {
    position: relative;
    width: 100%;
    height: 575px;

    overflow: hidden;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

#slider ul {
    position: relative;
    list-style: none;
    height: 100%;
    width: 10000%;
    padding: 0;
    margin: 0;
    transition: all 750ms ease;
    left: 0;
}

#slider ul li {
    position: relative;
    height: 100%;

    float: left;
}

#slider ul li img {
    width: 100%;
    height: 100%;
}

#slider #prev,
#slider #next {
    width: 50px;
    line-height: 50px;
    text-align: center;
    color: white;
    text-decoration: none;
    position: absolute;
    top: 50%;
    border-radius: 50%;
    font-size: 2rem;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    transform: translateY(-50%);
    transition: all 150ms ease;
}

#slider #prev {
    left: 10px;
}

#slider #next {
    right: 10px;
}

#slider #prev:hover,
#slider #next:hover {
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 0;
}

.bg-marquee{
    background-color: rgb(86, 16, 16);
    color:#eee;
    padding:.5rem 0;
    height: 43px;
}
.section-title{
    margin:15px  0 10px 0 ;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .nav-theme {
        padding-top: 12px;
        padding-left: 12px;
        padding-bottom: 10px;
        transition: all .5s ease;
    }

    .dropdown-content {
        position: absolute;
        left: 110px;
        top: 8rem;
        display: none;
        background-color: rgb(84, 18, 18);
        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
        transition: all .5s ease;
    }

    i.arrow-up {
        display: none;
    }

    i.arrow-left {
        position: absolute;
        top: -5px;
        left: -14px;
        display: block;
        color: rgb(84, 18, 18);
        ;
        font-size: 1.6rem;
        transition: all .5s ease;
    }

    .show {
        display: block;
        transition: all .5s ease;
    }

    #icon {
        display: block;
        position: absolute;
        right: 1rem;
        transition: all 0.5s ease;
    }

    .container-nav {
        display: grid;
        justify-content: space-between;
        align-items: center;
        transition: all 0.5s ease;
    }

    .navbar-ul {
        list-style: none;
        display: none;
        align-items: center;
        margin-bottom: 0;
        transition: all 0.5s ease;
    }

    .nav-item a:active {
        color: #ffe066;
    }

    #icon a i:active {
        color: #ffe066;
    }

    .nav-item {
        margin: 10px 0;
    }

    .show-1 {
        display: block;
        transition: all .5s ease;
    }
}